<hr>
<footer class="footer">
  <p>Built with love and <a href="http://rubyonrails.org/">Ruby on Rails</a> by <a href="http://imaginarydesign.co.uk/">Adam Koniuszewski</a><span class="pull-right">Version: <%= APP_VERSION.print %></span></p>
</footer>